/* start your styling here  */
.container {
  display: flex;
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: rgb(106, 181, 255);
  padding: 10px;
}
.container .left {
  background-color: rgb(206, 241, 255);
  width: 30%;
  height: 400px;
}

.container .right {
  padding: 10px;
  width: 70%;
  height: 400px;
}
