/* start your styling here  */
.container {
  width: 600px;
  height: 500px;
  margin: auto;
  background-color: rgb(37, 37, 90);
}
.calculator {
  padding: 20px;
  margin: auto;
  position: relative;
  top: 5%;
  width: 450px;
  height: 400px;
  background-color: rgb(255, 19, 58);
}
button {
  color: white;
  width: 70px;
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(37, 37, 90);
  border-radius: 10px;
  border-bottom: 3px solid black;
}

.yellow-button {
  color: black;
  background-color: rgb(255, 255, 134);
  border-bottom: 3px solid rgb(255, 255, 0);
}
.line1 {
  display: flex;
  justify-content: space-between;
}

.line2 {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.line3 {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.line4 {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.line5 {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

input[type="text"] {
  border: none;
  background-color: rgb(37, 37, 90);
  width: 70%;
  height: 6vh;
}
.green-button {
  background-color: rgb(0, 198, 132);
}

::placeholder {
  color: white;
  font-weight: 600;
  font-size: 20px;
  float: right;
}
